.container.prd-container.homeIcons {
  margin-top: 12px;
  transition: margin-top 0.5s linear;
}

.prd-row {
  margin: 15px auto 20px;
  width: 100%;
  height: 244px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.container.prd-container.homeIcons .prd-block {
  border: none;
}

.prd-row .prd-block {
  position: relative;
  width: calc(100% / 7 - 40px);
  height: 50%;
  margin-right: 45px;
  cursor: pointer;
}

.prd-row .prd-block a {
  text-decoration: none;
}

.container.prd-container.homeIcons .prd-row .prd-block .prd-icon.shadowHandler {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

.container.prd-container.homeIcons .add {
  height: calc(100% - 10px);
}

.prd-row .prd-block .prd-icon.short {
  height: calc(100% - 10px);
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

.container.prd-container.homeIcons
  .prd-row
  .prd-block
  .prd-icon.shadowHandler
  .shadowHandlerBox {
  background-color: #f2f7ff;
  width: 128px;
  height: 82px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  position: relative;
}

.container.prd-container.homeIcons
  .prd-row
  .prd-block
  .prd-icon.shadowHandler
  .shadowHandlerBox
  .homeIconsBg {
  margin: 0 auto;
  text-align: center;
}

.container.prd-container.homeIcons i.homeIconsBg {
  background-size: 100%;
  margin-top: 15px;
  width: 50px;
  height: 50px;
  display: block;
}

.container.prd-container.homeIcons .homeIconsBg {
  background: url("../Resources/img4.avif");
  background-repeat: no-repeat;
}

.prd-row .prd-block .prd-icon i {
  width: 28px;
  height: 30px;
  display: inline-block;
  margin: 20px 0 0 0;
  background-size: 100%;
}

.icon-bg {
  background: url("../Resources/img4.avif"), no-repeat;
}

.container.prd-container.homeIcons
  .prd-row
  .prd-block
  .prd-icon.shadowHandler
  p {
  font-size: 14px;
  line-height: 20px;
  width: 128px;
  text-align: center;
}

.container.prd-container.homeIcons .add p {
  padding-top: 10px;
}

.prd-row .prd-block .prd-icon p {
  font-size: 12px;
  color: #253858;
  line-height: 16px;
  padding-top: 12px;
}

.container.prd-container.homeIcons
  .prd-row
  .prd-block
  .prd-icon.shadowHandler
  .shadowHandlerBox
  .hi-light {
  position: absolute;
  font-size: 9px;
  text-align: center;
  background: #b6f4b4;
  letter-spacing: 0.016em;
  width: 100%;
  border-radius: 8px 8px 0 0;
  padding: 2px 0;
  top: 0;
  color: #253858;
}

.container.prd-container.homeIcons .prd-block {
  border: none;
}

.prd-row .prd-block {
  position: relative;
  width: calc(100% / 7 - 40px);
  height: 50%;
  margin-right: 45px;
  cursor: pointer;
}

.prd-row .prd-block a {
  text-decoration: none;
}

.container.prd-container.homeIcons
  .prd-row
  .prd-block
  .prd-icon.shadowHandler
  .shadowHandlerBox
  .homeIconsBg.women_term
  img {
  width: 100%;
  height: auto;
  padding-top: 9px;
  margin-left: -4px;
}

.container.prd-container.homeIcons .view-all-products {
  position: relative;
  top: 15px;
  margin: 15px auto;
  margin-top: 15px;
  margin-top: 16px;
  text-align: center;
}

.container.prd-container.homeIcons .view-all-products a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 124px;
  height: 33px;
  border: 1px solid #0065ff;
  border-radius: 40px;
  color: #0065ff;
  font-size: 12px;
  text-decoration: none;
  font-weight: 500;
}

@media only screen and (max-width: 575px) {
  .container.prd-container.homeIcons .homeIconsBg::after,
  .container.prd-container.homeIcons .homeIconsBg::before {
    content: "";
    background: #f5f6fc;
    display: block;
    width: 90%;
    min-width: 90%;
    height: 59px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 10px;
    margin: 0 auto;
  }
  .container.prd-container.homeIcons
    .prd-row
    .prd-block
    .prd-icon.shadowHandler
    .shadowHandlerBox
    .homeIconsBg::after,
  .container.prd-container.homeIcons
    .prd-row
    .prd-block
    .prd-icon.shadowHandler
    .shadowHandlerBox
    .homeIconsBg::before {
    display: none;
  }
  .container.prd-container.homeIcons .prd-row .prd-block {
    margin: 10px auto;
    width: calc(25% - 10px);
  }
  .container.prd-container.homeIcons
    .prd-row
    .prd-block
    .prd-icon.shadowHandler
    .shadowHandlerBox {
    width: auto;
    height: 56px;
  }
  .container.prd-container.homeIcons .view-all-products + .mob-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (max-width: 320px) {
  .container.prd-container.homeIcons .prd-row .prd-block {
    margin: 10px auto;
    width: calc(33.3333333333% - 10px);
  }
}

@media (max-width: 1140px) {
  .main-container .container {
    max-width: 932px;
  }
  .prd-row .prd-block {
    width: calc(100% / 7 - 24px);
    margin-right: 28px;
  }
}

@media only screen and (max-width: 1024px) {
  .prd-row {
    margin: 15px 5px 30px 10px;
    width: calc(100% - 10px);
  }
  .container.prd-container.homeIcons i.homeIconsBg {
    background-size: 80%;
  }
  .prd-row .prd-block {
    margin-right: 10px;
    width: calc(100% / 7 - 10px);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container.prd-container.homeIcons
    .prd-row
    .prd-block
    .prd-icon.shadowHandler
    p {
    width: auto;
    font-size: 12px;
    line-height: 18px;
  }
  .container.prd-container.homeIcons
    .prd-row
    .prd-block
    .prd-icon.shadowHandler
    .shadowHandlerBox {
    width: auto;
    height: 56px;
  }
}

@media only screen and (max-width: 767px) {
  .container.prd-container.homeIcons
    .prd-row
    .prd-block
    .prd-icon.shadowHandler
    p {
    width: auto;
    font-size: 11px;
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  /* .container.prd-container.homeIcons i.homeIconsBg {
    background-size: 60%;
  }
  .container.prd-container.homeIcons
    .prd-row
    .prd-block
    .prd-icon.shadowHandler
    .shadowHandlerBox {
    width: auto;
    height: 45px;
  } */
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .container.prd-container.homeIcons
    .prd-row
    .prd-block
    .prd-icon.shadowHandler
    .shadowHandlerBox {
    width: auto;
  }
}

@media only screen and (max-width: 667px) and (orientation: landscape) {
  .container.prd-container.homeIcons
    .prd-row
    .prd-block
    .prd-icon.shadowHandler
    .shadowHandlerBox {
    width: auto;
  }
}

@media (min-width: 640px) and (max-width: 652px) and (orientation: landscape) {
  .container.prd-container.homeIcons
    .prd-row
    .prd-block
    .prd-icon.shadowHandler
    .shadowHandlerBox {
    width: 128px !important;
  }
}
@media only screen and (max-width: 720px) and (orientation: landscape) {
  .container.prd-container.homeIcons
    .prd-row
    .prd-block
    .prd-icon.shadowHandler
    .shadowHandlerBox {
    width: auto;
  }
}

@media only screen and (max-width: 667px) and (orientation: landscape) {
  .container.prd-container.homeIcons
    .prd-row
    .prd-block
    .prd-icon.shadowHandler
    .shadowHandlerBox {
    width: auto;
  }
}

@media only screen and (max-width: 640px) {
  .prd-row .prd-block {
    text-align: center;
  }
  .prd-row {
    height: auto;
    padding: 10px 0 24px;
    margin-bottom: 0;
  }
  .prd-row .prd-block .prd-icon.short {
    position: relative;
  }
  .prd-container {
    width: 100%;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    background: #fff;
    margin-top: 0;
  }
  .prd-row .prd-block {
    margin-right: 0;
    width: 25%;
    height: auto;
    text-align: center;
  }
  .prd-row .prd-block.last {
    display: none;
  }
  .prd-row .prd-block.tra {
    display: none;
  }
  .prd-row .mob-btn {
    display: block;
    margin: 30px 16px 0 16px;
    width: 100%;
  }
  .prd-row .mob-btn a.left-btn {
    background: #f2f7ff;
    background-color: rgb(242, 247, 255);
    display: inline-block;
    color: #0065ff;
    font-size: 12px;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 8px;
    width: calc(50% - 4px);
    display: inline-block;
  }
  .prd-row .mob-btn a.left-btn i {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    border: 1px solid #f2f7ff;
    display: inline-block;
    vertical-align: middle;
    background: url(../Resources/section1-1.svg);
    background-size: 100%;
    background-position: 0 60.8%;
  }
  .prd-row .mob-btn a.left-btn i.claim {
    background-position: 0 62.4%;
  }
}

@media (min-width: 735px) and (max-width: 740px) and (orientation: landscape) {
  .container.prd-container.homeIcons
    .prd-row
    .prd-block
    .prd-icon.shadowHandler
    .shadowHandlerBox {
    width: 84px !important;
  }
}

@media (min-width: 640px) and (max-width: 666px) and (orientation: landscape) {
  .container.prd-container.homeIcons .prd-row {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 640px) {
  .prd-row {
    height: auto;
    padding: 10px 0 24px;
    padding-bottom: 24px;
    margin-bottom: 0;
  }
  .prd-row .prd-block {
    margin-right: 0;
    width: 25%;
    height: auto;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .prd-row .prd-block.mrtop20 {
    margin-top: 20px;
  }
  .prd-row .prd-block.last {
    margin-right: 0;
  }
  .prd-row .prd-block.tra {
    margin: 0;
  }
}

.container.prd-container.homeIcons .view-all-products + .mob-btn {
  background-color: #f2f7ff;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  padding: 15px 0;
  text-align: center;
}

.container.prd-container.homeIcons .view-all-products + .mob-btn::after {
  content: "";
  content: "";
  background-color: #f2f7ff;
  position: absolute;
  left: -20px;
  right: -20px;
  top: 0;
  bottom: 0;
}

.prd-row .mob-btn {
  display: none;
}

.container.prd-container.homeIcons .view-all-products + .mob-btn {
  background-color: #f2f7ff;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  padding: 15px 0;
  text-align: center;
}

.container.prd-container.homeIcons .view-all-products + .mob-btn a {
  z-index: 1;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  height: 38px;
}
