.app {
  margin: 0;
  padding: 0;
}

.App-header {
  position: relative;
}

.moreInsurance {
  width: 100vw;
  padding: 3% 0;
  background-size: 100%;
  background: #000;
  height: 70%;
  display: table;
  position: relative;
}
